@import url("rst_base.css");
@import url("nikola_rst.css");

/*
 *                        ___
 *                       /\_ \
 *  _____     ___     ___\//\ \      __
 * /\ '__`\  / __`\  / __`\\ \ \   /'__`\
 * \ \ \_\ \/\ \_\ \/\ \_\ \\_\ \_/\  __/
 *  \ \ ,__/\ \____/\ \____//\____\ \____\
 *   \ \ \/  \/___/  \/___/ \/____/\/____/
 *    \ \_\
 *     \/_/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/poole.
 */


/*
 * Contents
 *
 * Body resets
 * Custom type
 * Messages
 * Container
 * Masthead
 * Posts and pages
 * Pagination
 * Reverse layout
 * Themes
 */


/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

body {
  color: #fff;
  background-color: #302030;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #b1b1b1;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #b0b0b0;
}


/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #000;
  background-color: #302030;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .7rem !important;
  line-height: 1.4;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
  color: inherit;
  background-color: #302030;
  overflow-x: auto;
}
pre.code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background: #251525 !important;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #203020;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 45rem !important;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #b0b0b0;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}


/*
 * Tags
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.tags {

  overflow: hidden; /* clearfix */
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
  border: 2px dotted #201020;
  border-radius: 3px;
  padding: 5px;

  height: auto;
  display: inline-block;
  vertical-align: middle;
}

/* Pagination items can be `span`s or `a`s */
.tag {
  display: block;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 5px;
  border: 1px solid #eee;
  background: #201020;
  border-radius: 15px;
  font-size: smaller;
}

/* Only provide a hover state for linked pagination items */
.tag:hover {
  background-color: #302030;
}



@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}


/* Fix whitespace of listings w/ numbers (issue #155) */
table.codehilitetable pre {
  padding: 0;
}
td.code /* to exclude listings w/o numbers */
pre.code.literal-block {
  margin-left: 0;
}


/* My own modifications! */
div.prompt {
  background-color: transparent !important;
}

div.input_prompt {
    color: #a0afef !important;
    border-top: 1px solid transparent;
}

div.text_cell_render {
    color: #fff !important;
}

pre.code, .highlight pre {
    background: #251525 !important;
    color: #f8f8f2;
}

div.output_area pre {
    color: white !important;

}

div.output_stderr {
    background: transparent !important;
}

blockquote {
    color: #dddddd;
}

pre.code .err, .highlight pre .err {
    color: #ddffff !important;
    background-color: transparent !important;
}

/*
 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 */


/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

div.hsidebar, .hsidebar {
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
  text-align: center;
  margin-left: 0;
  margin-bottom: 0;
}

@media (min-width: 48em) {
div.hsidebar, .hsidebar {
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
  }
}

/* Sidebar images */
div.hsidebar img, .hsidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img#logo {

  width: 200px;
}

/* Sidebar links */
div.hsidebar a, .hsidebar a {
  color: #201020;
}

/* About section */
.sidebar-about h1 {
  color: #201020;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2.75rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.50;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 0;
    left:   1rem;
  }
}

/*
 * Footer
 *
 * Edit Styles for footer
 */
.footer {
  font-size: 16px;
}

.icon_row{
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.icon_row img.social_icon{
  width: 24px;
  display: inline-block;
  margin: 0px auto;
  vertical-align: bottom;
}

.copyright{
  font-size: smaller;
  line-height: 0.5;
  text-align: center;
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48em) {
  .layout-reverse .hsidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}



/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */

/* Base16 (http://chriskempson.github.io/base16/#default) */

/* Red */
.theme-base-08 .hsidebar {
  background-color: #ac4142;
}
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
  color: #ac4142;
}

/* Orange */
.theme-base-09 .hsidebar {
  background-color: #d28445;
}
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

/* Yellow */
.theme-base-0a .hsidebar {
  background-color: #f4bf75;
}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
  color: #f4bf75;
}

/* Green */
.theme-base-0b .hsidebar {
  background-color: #90a959;
}
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
  color: #90a959;
}

/* Cyan */
.theme-base-0c .hsidebar {
  background-color: #75b5aa;
}
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
  color: #75b5aa;
}

/* Blue */
.theme-base-0d .hsidebar {
  background-color: #6a9fb5;
}
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}

/* Magenta */
.theme-base-0e .hsidebar {
  background-color: #aa759f;
}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
  color: #aa759f;
}

/* Brown */
.theme-base-0f .hsidebar {
  background-color: #8f5536;
}
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
  color: #8f5536;
}



/*
 * Additional Classes pertaining to Nikola
 *
 * The accessible link at the top shouldn't be visible.  The class that make
 * them invisible were in themes.css.
 * To use, example below:
 * <a href="..." class="sr-only sr-only-focusable">...</a>
 *
 */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
}

.breadcrumb > li {
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
}

.breadcrumb > li:after {
  content: ' / ';
  color: #888;
}

.breadcrumb > li:last-of-type:after {
  content: '';
  margin-left: 0;
}

.thumbnails > li {
  display: inline-block;
  margin-right: 10px;
}

.thumbnails > li:last-of-type {
  margin-right: 0;
}

/* code.css file generated by Nikola */
pre { line-height: 125%; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code .hll, .code .codetable .hll, .highlight pre .hll { background-color: #49483e }
pre.code , .code .codetable , .highlight pre { background: #272822; color: #f8f8f2 }
pre.code .c, .code .codetable .c, .highlight pre .c { color: #75715e } /* Comment */
pre.code .err, .code .codetable .err, .highlight pre .err { color: #960050; background-color: #1e0010 } /* Error */
pre.code .k, .code .codetable .k, .highlight pre .k { color: #66d9ef } /* Keyword */
pre.code .l, .code .codetable .l, .highlight pre .l { color: #ae81ff } /* Literal */
pre.code .n, .code .codetable .n, .highlight pre .n { color: #f8f8f2 } /* Name */
pre.code .o, .code .codetable .o, .highlight pre .o { color: #f92672 } /* Operator */
pre.code .p, .code .codetable .p, .highlight pre .p { color: #f8f8f2 } /* Punctuation */
pre.code .ch, .code .codetable .ch, .highlight pre .ch { color: #75715e } /* Comment.Hashbang */
pre.code .cm, .code .codetable .cm, .highlight pre .cm { color: #75715e } /* Comment.Multiline */
pre.code .cp, .code .codetable .cp, .highlight pre .cp { color: #75715e } /* Comment.Preproc */
pre.code .cpf, .code .codetable .cpf, .highlight pre .cpf { color: #75715e } /* Comment.PreprocFile */
pre.code .c1, .code .codetable .c1, .highlight pre .c1 { color: #75715e } /* Comment.Single */
pre.code .cs, .code .codetable .cs, .highlight pre .cs { color: #75715e } /* Comment.Special */
pre.code .gd, .code .codetable .gd, .highlight pre .gd { color: #f92672 } /* Generic.Deleted */
pre.code .ge, .code .codetable .ge, .highlight pre .ge { font-style: italic } /* Generic.Emph */
pre.code .gi, .code .codetable .gi, .highlight pre .gi { color: #a6e22e } /* Generic.Inserted */
pre.code .go, .code .codetable .go, .highlight pre .go { color: #66d9ef } /* Generic.Output */
pre.code .gp, .code .codetable .gp, .highlight pre .gp { color: #f92672; font-weight: bold } /* Generic.Prompt */
pre.code .gs, .code .codetable .gs, .highlight pre .gs { font-weight: bold } /* Generic.Strong */
pre.code .gu, .code .codetable .gu, .highlight pre .gu { color: #75715e } /* Generic.Subheading */
pre.code .kc, .code .codetable .kc, .highlight pre .kc { color: #66d9ef } /* Keyword.Constant */
pre.code .kd, .code .codetable .kd, .highlight pre .kd { color: #66d9ef } /* Keyword.Declaration */
pre.code .kn, .code .codetable .kn, .highlight pre .kn { color: #f92672 } /* Keyword.Namespace */
pre.code .kp, .code .codetable .kp, .highlight pre .kp { color: #66d9ef } /* Keyword.Pseudo */
pre.code .kr, .code .codetable .kr, .highlight pre .kr { color: #66d9ef } /* Keyword.Reserved */
pre.code .kt, .code .codetable .kt, .highlight pre .kt { color: #66d9ef } /* Keyword.Type */
pre.code .ld, .code .codetable .ld, .highlight pre .ld { color: #e6db74 } /* Literal.Date */
pre.code .m, .code .codetable .m, .highlight pre .m { color: #ae81ff } /* Literal.Number */
pre.code .s, .code .codetable .s, .highlight pre .s { color: #e6db74 } /* Literal.String */
pre.code .na, .code .codetable .na, .highlight pre .na { color: #a6e22e } /* Name.Attribute */
pre.code .nb, .code .codetable .nb, .highlight pre .nb { color: #f8f8f2 } /* Name.Builtin */
pre.code .nc, .code .codetable .nc, .highlight pre .nc { color: #a6e22e } /* Name.Class */
pre.code .no, .code .codetable .no, .highlight pre .no { color: #66d9ef } /* Name.Constant */
pre.code .nd, .code .codetable .nd, .highlight pre .nd { color: #a6e22e } /* Name.Decorator */
pre.code .ni, .code .codetable .ni, .highlight pre .ni { color: #f8f8f2 } /* Name.Entity */
pre.code .ne, .code .codetable .ne, .highlight pre .ne { color: #a6e22e } /* Name.Exception */
pre.code .nf, .code .codetable .nf, .highlight pre .nf { color: #a6e22e } /* Name.Function */
pre.code .nl, .code .codetable .nl, .highlight pre .nl { color: #f8f8f2 } /* Name.Label */
pre.code .nn, .code .codetable .nn, .highlight pre .nn { color: #f8f8f2 } /* Name.Namespace */
pre.code .nx, .code .codetable .nx, .highlight pre .nx { color: #a6e22e } /* Name.Other */
pre.code .py, .code .codetable .py, .highlight pre .py { color: #f8f8f2 } /* Name.Property */
pre.code .nt, .code .codetable .nt, .highlight pre .nt { color: #f92672 } /* Name.Tag */
pre.code .nv, .code .codetable .nv, .highlight pre .nv { color: #f8f8f2 } /* Name.Variable */
pre.code .ow, .code .codetable .ow, .highlight pre .ow { color: #f92672 } /* Operator.Word */
pre.code .w, .code .codetable .w, .highlight pre .w { color: #f8f8f2 } /* Text.Whitespace */
pre.code .mb, .code .codetable .mb, .highlight pre .mb { color: #ae81ff } /* Literal.Number.Bin */
pre.code .mf, .code .codetable .mf, .highlight pre .mf { color: #ae81ff } /* Literal.Number.Float */
pre.code .mh, .code .codetable .mh, .highlight pre .mh { color: #ae81ff } /* Literal.Number.Hex */
pre.code .mi, .code .codetable .mi, .highlight pre .mi { color: #ae81ff } /* Literal.Number.Integer */
pre.code .mo, .code .codetable .mo, .highlight pre .mo { color: #ae81ff } /* Literal.Number.Oct */
pre.code .sa, .code .codetable .sa, .highlight pre .sa { color: #e6db74 } /* Literal.String.Affix */
pre.code .sb, .code .codetable .sb, .highlight pre .sb { color: #e6db74 } /* Literal.String.Backtick */
pre.code .sc, .code .codetable .sc, .highlight pre .sc { color: #e6db74 } /* Literal.String.Char */
pre.code .dl, .code .codetable .dl, .highlight pre .dl { color: #e6db74 } /* Literal.String.Delimiter */
pre.code .sd, .code .codetable .sd, .highlight pre .sd { color: #e6db74 } /* Literal.String.Doc */
pre.code .s2, .code .codetable .s2, .highlight pre .s2 { color: #e6db74 } /* Literal.String.Double */
pre.code .se, .code .codetable .se, .highlight pre .se { color: #ae81ff } /* Literal.String.Escape */
pre.code .sh, .code .codetable .sh, .highlight pre .sh { color: #e6db74 } /* Literal.String.Heredoc */
pre.code .si, .code .codetable .si, .highlight pre .si { color: #e6db74 } /* Literal.String.Interpol */
pre.code .sx, .code .codetable .sx, .highlight pre .sx { color: #e6db74 } /* Literal.String.Other */
pre.code .sr, .code .codetable .sr, .highlight pre .sr { color: #e6db74 } /* Literal.String.Regex */
pre.code .s1, .code .codetable .s1, .highlight pre .s1 { color: #e6db74 } /* Literal.String.Single */
pre.code .ss, .code .codetable .ss, .highlight pre .ss { color: #e6db74 } /* Literal.String.Symbol */
pre.code .bp, .code .codetable .bp, .highlight pre .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
pre.code .fm, .code .codetable .fm, .highlight pre .fm { color: #a6e22e } /* Name.Function.Magic */
pre.code .vc, .code .codetable .vc, .highlight pre .vc { color: #f8f8f2 } /* Name.Variable.Class */
pre.code .vg, .code .codetable .vg, .highlight pre .vg { color: #f8f8f2 } /* Name.Variable.Global */
pre.code .vi, .code .codetable .vi, .highlight pre .vi { color: #f8f8f2 } /* Name.Variable.Instance */
pre.code .vm, .code .codetable .vm, .highlight pre .vm { color: #f8f8f2 } /* Name.Variable.Magic */
pre.code .il, .code .codetable .il, .highlight pre .il { color: #ae81ff } /* Literal.Number.Integer.Long */
.highlight table, .highlight tr, .highlight td, .code table, .code tr, .code td { border-spacing: 0; border-collapse: separate; padding: 0 }
.highlight pre, .code pre { white-space: pre-wrap; line-height: normal }
.highlighttable td.linenos, .codetable td.linenos { vertical-align: top; padding-left: 10px; padding-right: 10px; user-select: none; -webkit-user-select: none }
.highlighttable td.linenos code:before, .codetable td.linenos code:before { content: attr(data-line-number) }
.highlighttable td.code, .codetable td.code { overflow-wrap: normal; border-collapse: collapse }
.highlighttable td.code code, .codetable td.code code { overflow: unset; border: none; padding: 0; margin: 0; white-space: pre-wrap; line-height: unset; background: none }
.highlight .lineno.nonumber, .code .lineno.nonumber { list-style: none }
table.codetable, table.highlighttable { width: 100%;}
.codetable td.linenos, td.linenos { text-align: right; width: 3.5em; padding-right: 0.5em; background: rgba(127, 127, 127, 0.2) }
.codetable td.code, td.code { padding-left: 0.5em; }

